/*declaration variables*/

:root {
    --main : #fff;
    --blue : #2b4e7f;
}

/*partie general*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Playfair Display", serif;
}

/*transition*/

.transition-slide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--blue);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.transition-slide.is-active {
    opacity: 1;
    pointer-events: all;
}

/*premiere page*/


.earth {
    background: url(https://cdn.futura-sciences.com/sources/52049541823_302331a679_k.jpg), no-repeat, center, fixed;
    background-size: cover;
    height: 100vh;
}
.container {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1 {
    font-size: 4em;
    color: #fff;
    margin-bottom: 1em;
}
.btn {
    position: relative;
    padding: 10px 64px;
    border-radius: 20px;
    background-color: transparent;
    color: #fafafa;
    border: solid 3px rgba(250, 250, 250, 0.9);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.btn:active {
    scale: 0.9;
}
.btn .btn-text {
    position: relative;
    font-size: 1.5em;
    z-index: 2;
}
.btn .fill-container {
    position: absolute;
    background-color: var(--blue);
    left: 0;
    top: 50%;
    width: 100%;
    padding-bottom: 100%;
    transform: translateY(-50%) rotate(180deg);
}
.btn .fill-container::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main);
    border-radius: 50%;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    transform: translateY(-100%);
}
.btn:hover {
    color: black;
    border-color: var(--main);
    transform: translateY(-4px);
}
.btn:hover .fill-container {
    transform: translateY(-50%) rotate(0);
}
.btn:hover .fill-container::after {
    transform: translateY(0);
}

/*hero page*/

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}
.desc {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 40%;
    color: var(--main);
}
.desc h2 {
    font-size: 3em;
    margin-bottom: 1em;
}
.desc p {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-align: justify;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.cat-btn {
    transform: rotate(-10deg);
    border-radius: 150px;
    transition: all 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    color: var(--main);
    font-size: 2em;
    margin: 0 50px;
}
.cat-btn:hover {
    transform: rotate(0deg) scale(1.1);
}
.cat-btn:active {
    scale: 0.99;
}
.cat-btn p {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(10deg);
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
}
.cat-btn p:hover {
    transform: rotate(0deg);
}
.opacity {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#cat-1 {
    width: 300px;
    height: 700px;
    background: url(https://www.slate.fr/sites/default/files/styles/1060x523/public/moon-landing-60582_1280.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#cat-2 {
    width: 250px;
    height: 500px;
    background: url(https://static.actu.fr/uploads/2022/08/adobestock-376579240.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#cat-3 {
    width: 250px;
    height: 500px;
    background: url(https://www.sciencesetavenir.fr/assets/img/2019/07/11/cover-r4x3w1000-5d274ae4251ce-e7d48138c300a240226e9384d58256eaffccf3e1-jpg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*search page*/

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
}
.searchbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: 2px solid #cdcdcd;
    border-radius: 20px;
}
.search-container button {
    width: 50px;
    height: 50px;
    border: none;
}
.searchbar-container img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.searchbar {
    padding: 10px 20px;
    width: 400px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    font-size: 1em;
    border: none;
}
.back {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
.back:hover {
    cursor: pointer;
    transform: translateX(-10px);
}
.back p {
    font-size: 1.5em;
    color: var(--main);
}
.back img {
    margin: 10px;
    width: 60px;
}

/*mobile*/

@media screen and (max-width: 992px) {
    .container h1 {
        text-align: center;
        padding: 0 10%;
    }
    .btn {
        font-size: 2em;
    }
    .hero-container {
        flex-direction: column;
    }
    .btn-container {
        width: 100%;
        height: 60%;
    }
    .desc {
        width: 100%;
        height: 40%;
        padding: 5%;
    }
    .desc h2 {
        margin-top: 5%;
        font-size: 5em;
        height: 40%;
    }
    .desc p {
        font-size: 2.5em;
    }
    .searchbar-container {
        height: 100px;
    }
    .search-container button {
        width: 100px;
        height: 100px;
    }
    .searchbar {
        width: 500px;
        height: 100px;
        font-size: 2em;
    }
    .back {
        top: 1%;
        left: 1%;
    }
    .back img {
        width: 100px;
    }
    .back p {
        font-size: 2.2em;
    }
}